// styles for animations on scroll

// class for components
.reveal {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease-in-out;
  &.activeAnim {
    transform: translateX(0);
    opacity: 1;
  }
  &:nth-child(2n) {
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease-in-out;

    &.activeAnim {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

// class for loading
.loading {
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

// loading animations
@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
